<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<form th:object="${products}" th:action="@{/product/create}" method="post">
    <table>
        <tr>
            <th>Add New Product</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td><input th:field="*{supplier}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>