<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border: black solid 1px ; text-align: center">
    <tr>
        <h1>THÔNG TIN CHI TIẾT CỦA SẢN PHẨM</h1>
    </tr>
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Mô tả</th>
        <th>Nhà sản xuất</th>
    </tr>
    <tr th:each="product:${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.supplier}"></td>
    </tr>
    <tr>
        <td>
            <button><a th:href="@{/product/list}" style="text-decoration: none;color: black">Back To Menu</a></button>
        </td>
    </tr>
</table>
</body>
</html>