<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${product}" th:action="@{/product/update(id=${id})}" method="post">
    <table>
        <tr>
            <th>Update Product</th>
        </tr>
        <tr>
            <td style="display: none"><input th:field="*{id}" th:text="${product.id}" style="display: none"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}" ></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input th:field="*{price}" ></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input th:field="*{description}" ></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td><input th:field="*{supplier}" ></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>