<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<form th:object="${category}" th:action="@{/category/update}" method="post">
    <table>
       <tr>
           <h1>Form Sửa Danh Mục</h1>
       </tr>
        <tr>

            Tên Danh Mục : <input th:field="${category.name}" id="name" name="name">
        </tr>
        <tr>
            <button type="submit">Cập nhật</button>
        </tr>
    </table>
</form>
</body>
</html>